html,body{
    margin:0;
    width: 100%;
}
.container{
    width: 60%;
    height: 500px;
    margin:0 auto;
    text-align: center;
}
nav{
    font-size: 0;
    width: 100%;
}
button{
    width:33.33%;
    background-color: red;
    color: white;
    height: 50px;
    font-size: 20px;
    padding:0;
    border:2px solid black;
}
.cat, .dog
{
    width: calc(50% - 20px);
    float: left;
    margin:0;
    padding: 10px;
    padding-bottom: 100px;
}
.cat{
    background-color: blue;
}
.dog{
    background-color: green;
}
.cat img, .dog img{
    width: 100% ;
    height: 400px;
    margin:0;
    padding: 0;
}
button:hover{
    cursor: pointer;
    background-color: blue;
}
.Cat{}